:root {
    --max-content-width: 590px;
    --default-border-radius: 4px;
}

.body--home,.site-wrapper--home {
    background: #f7f7f7
}

.site-wrapper--home {
    height: 100%
}

.site-wrapper--home::before {
    display: none !important
}

.body--onboarding {
    overflow-y: visible !important;
    position: static !important
}

.onboarding-ed {
    width: 100%
}

.onboarding-ed:not(.onboarding-ed--faq) {
    height: 400%;
    position: absolute;
    top: 100%
}

.onboarding-ed__slide {
    text-align: center;
    background: #222;
    position: relative;
    height: 25%
}

.onboarding-ed__slide::before {
    content: '';
    height: 45%;
    display: inline-block;
    vertical-align: middle
}

.onboarding-ed__slide .onboarding-ed__content {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,0,0,0.1);
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.onboarding-ed__slide .onboarding-ed__title {
    margin-top: 16px;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 48px;
    font-weight: 800;
    padding: 0
}

.onboarding-ed__slide .onboarding-ed__subtitle {
    font-size: 20px;
    line-height: 28px
}

.onboarding-ed__slide-1 {
    background: #58b792
}

.onboarding-ed__slide-1 .onboarding-ed__image--animated {
    background: #58b792
}

.onboarding-ed__button {
    margin-top: 28px;
    padding: 17px 24px 15px;
    text-decoration: none;
    font-weight: 700;
    line-height: 100%;
    color: #fff !important;
    background: #365374 !important;
    border-color: #365374;
    font-size: 21px;
    display: inline-block;
    border-radius: 4px;
    border-radius: var(--default-border-radius);
    z-index: 10;
    -webkit-transition: background-color .15s ease-out;
    -moz-transition: background-color .15s ease-out;
    -o-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out
}

.onboarding-ed__button:hover {
    background: #41658d !important;
    color: #fff !important
}

.onboarding-ed__button-small {
    margin-top: 25px;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    background: rgba(0,0,0,0.4) !important;
    border: none;
    font-size: 18px;
    display: inline-block;
    border-radius: 4px;
    border-radius: var(--default-border-radius);
    z-index: 10;
    -webkit-transition: background-color .15s ease-out;
    -moz-transition: background-color .15s ease-out;
    -o-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out
}

.onboarding-ed__button-small:hover {
    background: rgba(0,0,0,0.5) !important;
    color: #fff
}

.onboarding-ed__button {
    font-size: 19px
}